{% extends "layout.html" %}

{% block body %}



  <!-- Page Header -->
  <header class="masthead" style="background-image: url('   {{url_for('static',filename='img/about1.jfif')}}  ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 style="font-family: 'Times New Roman', Times, serif">About Me</h1>
            <span class="subheading">A Curious Thinker!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>{{parameters['about_text']}}</p>
      </div>
    </div>
  </div>

  <hr>

 
{% endblock %}